# macOS system files
.DS_Store

# Media audit outputs
/media-audit/
/tmp/
*.log

# Editor & swap files
*.bak
*.swp
*.swo
*.code-workspace

# Shell history
.bash_history

# Secrets or sensitive config (if created)
secrets.php

# Ignore log files and zip backups
*.log
*.zip

# Allow tracking of TU backup scripts
!bkp/launch-tu-dashboard.scpt
!bkp/notify-tu-backup.scpt